{% extends 'start/base.html' %}
{% load static %}
{% block content %}
        <img class="lotto" src="{% static 'start/images/lotto.png' %}" alt="lotto" />
    <br/>
    <div class="options">
        <label for="auto">
            <input type="radio" id="auto" name="option" value="자동" checked/>
            자동
        </label>
        <label for="manual">
            <input type="radio" id="manual" name="option" value="수동"/>
            수동
        </label>
    </div>
    <div>
        <form method="get" action="{% url 'result' %}">
            <div class="input_container hidden">
                <p>1 ~ 45번까지의 숫자 중에서 [ 번호,번호,...] 형식 으로 6개를 적으세요</p>
                <input type="text" class="number_input" name="numbers" placeholder="Good Luck 🤞🏼" autocomplete="off"/>
            </div>
            <input type="submit" value="뽑기" />
        </form>
    </div>
{% endblock %}

